body {
  background-color: #343a40;
}

.container {
  margin-top: 100px;
  max-width: 600px;
}

.autoCompleteInput {
  
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.resultContainer {
  background-color: #fff;
}

.productItemContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 0 10px;
  height: 50px;
  border-bottom: 1px solid lightgray;
}

.productName{
  font-size: 14px;
  width: 80%;
}

.productImage{
  height: 80%;
}


/* selected part */

.selectedContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.selectedProductName{
  font-size: 20px;
  font-weight: bold;
}

.selectedProductImage{
    width: 200px;
    height: 300px;
}

.selectedContainer img{
  object-fit: cover;
}
